{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form_row %}
{% from 'bootstrap5/form.html' import render_field %}

{% block title %}sos | Change Password{% endblock %}

{% block page_content %}
    <div class="card mx-auto" style="width: 35rem; margin-top: 5vh; margin-bottom: 10vh; border-radius: 25px;" >
        <img src="/static/images/resetting-password.jpg" class="card-img-top reset-password-poster" alt="..." height="500">
        <div class="card-body reset-password-card">
            <h3 class="card-title text-center reset-password-header">Reset Password</h3>
            <form class="card-text reset-password-form" method="post">
                {{ form.csrf_token() }}
                <div class="mb-3 current-password-field">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa-solid fa-lock login-email-icon" style="color: #007AFF"></i>
                        </div>
                        {{ render_field(form.current_password) }}
                    </div>
                </div>

                <div class="mb-3 new-password-field">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa-solid fa-key login-email-icon" style="color: #007AFF"></i>
                        </div>
                        {{ render_field(form.new_password) }}
                    </div>
                </div>

                <div class="mb-3 confirm-password-field">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa-solid fa-key login-email-icon" style="color: #007AFF"></i>
                        </div>
                        {{ render_field(form.confirm_password) }}
                    </div>
                </div>

                <div class="mb-3 text-center">
                    {{ render_field(form.change_password)}}
                </div>
            </form>

        </div>
    </div>
{% endblock %}

