{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form_row %}
{% from 'bootstrap5/form.html' import render_field %}

{% block title %}sos | Reset Password{% endblock %}


{% block page_content %}
    <div class="row align-items-center" style="height: 90vh;">
        <div class="text-center col-sm-6">
            <img src="/static/images/forgot-password.jpg" class="img-fluid" height="500">
        </div>

        <div class="col-sm-6 float-start">
            <h2 class="reset-password-heading">Forgot Password?</h2>
            <p class="text-muted reset-password-body">Enter your email address,
                and we'll send you a link to reset your password
            </p>
            <form class="card-text reset-password-form" method="post" style="margin-top: 40px;">
                {{ form.csrf_token() }}
                <div class="mb-3 reset-password-email-field">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa-solid fa-envelope login-email-icon" style="color: #007AFF"></i>
                        </div>
                    {{ render_field(form.user_email) }}
                </div>
                <div class="mb-3 reset-password-btn">
                    {{ render_field(form.reset_email_submit)}}
                </div>
            </form>
        </div>
    </div>

{% endblock %}

