.ticket-frame {
    background: #141414;
    height: 785px;
}

.ticket-header-title {
    color: #FFFFFF;
    margin-left: 650px;
    margin-top: 90px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
}


.cancel-btn {
    float: right;
    margin-top: -35px;
    margin-right: 70px;
}

.ticket-form {
    margin-left: 635px;
}

.form-group {
    color: #FFFFFF;
    margin-top: 10px;
    padding-top: 5px;
}


.btn-create-ticket {
    float: right;
    background-color: #141414;
    color: #FFFFFF;
    min-height: 75px; 
    min-width: 420px;
    border-radius: 15px;
    border-color: #1035AC;
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
    
}

.btn-create-ticket:hover {
    background-color: #1035AC;
}

.col-md-4 {
    width: 450px;
}

.cancel-btn:hover {
    background-color: #1035AC;
}

.support-ticket-image {
    float: left;
    margin-top: -620px;
}


.alert {
    color: #FFFFFF;
    background-color: #1035AC;
    width: 50%;
    height: 20%;
    margin: auto;
}

.navbar {
    border-radius: 0;
}

.navbar-nav {
    float: right;
    letter-spacing: 1px;
}

ul.tickets {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
ul.tickets li.ticket {
    padding: 5px;
    border-bottom: 1px solid #e0e0e0;
}
ul.tickets li.ticket:hover {
    background-color: #ADD8E6;
}

.ticket-first-letter {
    position: absolute;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;

    line-height: 39px;

    width: 26px;
    height: 35px;

    margin-left: 10px;
    margin-right: 40px;
    margin-bottom: -46px;
    padding-top: 4px;
}

.ticket-bubble {
    border-radius: 50%;
    margin-left: 0;
    width: 48px;
    height: 45px;
}


.ticket-subject {
    margin-left: 50px;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: -44px;
}

.ticket-date {
    float: right;
    margin-top: -70px;
}
.ticket-issue {
    margin-left: 60px;
    margin-top: -7px;
    padding-bottom: 30px;
}

.ticket-priority {
    float: right;
    margin-top: -30px;
}

.ticket-priority-low {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: #3FFF00;
    margin-left: -17px;
}

.ticket-priority-high {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: #FF0000;
    margin-left: -17px;
}

.ticket-priority-medium {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: #FFBF00;
    margin-left: -17px;
}

a.ticket-items:link {
    text-decoration: inherit;
    color: inherit;
}

a.ticket-items:visited {
    text-decoration: inherit;
    color: inherit;

}

.ticket-count-bubble {
    background-color: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    color: white;

    margin-left: 90px;
    margin-top: -25px;

}

.ticket-owner {
    margin-left: 20%;
    background-color: #00BFFF;
    border-radius: 5px;
    width: 70px;
    text-align: center;
    font-weight: 700;
    margin-top: -28px;
    color: black;
}

.sol-ticket {
    float: right;
    margin-top: -54px;
    margin-right: 0;
    border-radius: 8px;
    background-color: #00BFFF;
    color: white;
    font-weight:600;
    padding: 0 8px 0 0;
}

a.sol-ticket:hover {
    background-color: white;
}

.ticket-ID-header {
    margin-left: 10%;
    font-weight: bold;
    
}

.partner {
    margin-bottom: -40px;
    padding-top: 20px;
}

.passcode {
    margin-left: 335px;
    margin-bottom: 25px;
    margin-top: 20px;
}
.ticket-ID {
    margin-left: 110px;
    margin-top: -20px;
    padding: 8px;
    border: 1px solid #DDDDDD;
    background-color: #1e1e1e;
    color: white;
    border-width: 2px;
    border-radius: 5px;
    width: 150px;
    height: 43px;
}


.ticket-passcode-header {
    margin-left: 45%;
    margin-top: 15px;
    font-weight: bold;
    margin-top: -20px;
    width: 70px;
}

#ticket-passcode {
    margin-left: 445px;
    margin-top: -63px;
    border: 1px solid #DDDDDD;
    border-width: 2px;
    border-radius: 5px;
    background-color: #1e1e1e;
    width: 390px;
    height: 43px;
    padding: 8px;
    color: white;
}

.clip-copy {
    padding: 0px 0px;
    margin-left: 185px;
    margin-top: -67px;
    font-weight: bold;
    background-color: #1e1e1e;
    color: white;

}

.clip-copy-passcode {
    padding: 0px 0px;
    margin-left: 750px;
    margin-top: -65px;
    background-color: #1e1e1e;
    color: white;
    font-weight: bold;
}

.login-form input[type="text"], 
.login-form input[type="password"],
.login-form input[type="checkbox"],
.sign-up-form input[type="text"],
.sign-up-form input[type="password"]
{
    border-color: #007AFF;
    background-color: #1e1e1e;
    color: white;
}

.reset-password-form input[type="password"] {
    border-color: #007AFF;
    background-color: #19191a;
    color: white;
}

.login-card, .sign-up-card {
    background-color: #1e1e1e; 
}

.reset-password-card {
    background-color: #19191a;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

img.reset-password-poster {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.name-field {
    width: 645px;
}

.email-field, .password-field,
.remember-me, .card-title, .login-header,
.sign-up-header, .name-field,
.sign-up-password, .department-field,
.sign-up-email-field, .username-field, h3.reset-password-header,
.current-password-field,
.new-password-field, .confirm-password-field{
    font-weight: 600;
    color: white;
}

.new-email-field, .change-email-password-field {
    font-weight: bold;
    
}

#new_email.form-control, #change_email_password.form-control {
    width: 380px;
    border-color: #007AFF;
}

#current_password.form-control,
#new_password.form-control, #confirm_password.form-control
{
    width: 470px;
}



.email-field, .password-field {
    min-width: 40px;
}


.sign-up-header {
    margin-top: 4vh;
}

.login-header, .sign-up-header {
    font-size: 30px;
    font-weight: bold;
}

#login, #sign_up {
    background-color:#1e1e1e;
    color: white;
    font-weight: 600;
    width: 12em;
}

#change_password {
    background-color: #19191a;
    margin-top: 20px;
    color: white;
    font-weight: 600;
    width: 12em;
}

#change_password:hover {
    background-color: #007AFF;
    color: black;
    font-weight: 600;
}

#login:hover, #sign_up:hover {
    background-color: #007AFF;
    color: black;
}

#sign_up {
    margin-top: 4vh;
}

.login-create-account {
    color: white;
    border-top: 1px solid grey;
    margin-top: 30px;
    padding-top: 8px;
}

.login-password-icon, .login-email-icon{
    position: absolute;
    top: 60%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}
  
.login-form input[type="password"],
.login-form input[type="text"],
.reset-password-form input[type="password"],
.change-email-form input[type="password"],
.change-email-form input[type="text"]
{
    padding-left: 30px;
    width: calc(100% - -100px);
}

.sign-up-form input[type="text"],
.sign-up-form input[type="password"],
.reset-password-form input[type="text"]{
    padding-left: 30px;
    width: calc(100% - -10px);
}

.sign-up-form input#email.form-control, 
#department.form-control, #username.form-control {
    width: 570px;
}

#email.form-control.is-invalid{
    color: #E3242B;
}

div.invalid-feedback {
    position: absolute;
    top: 80%;
    right: 0;
}
a.btn-login, a.btn-logout {
    background-color: #212529;
    border-color: #007AFF;
    color: white;
    float: right;
    margin-top: 16px;
}

a.dropdown-item {
    color: white;
}

a.dropdown-item:hover {
    background-color: #007AFF;
}

.login-form input[type="text"]:-webkit-autofill{
    background-color: #1e1e1e !important; /* Change to the color you want */
}

.third-container {
    display: flex;
}


.sign-up-text {
    margin-top: 60vh;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

button.btn.red-btn{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    border-radius: 50%;
    padding: 10px 10px;
    color: white;
    font-weight: bold;
}



.confirmation-email-message {
    font-weight: 600;
    color: #212529;
}

.confirmation-email-greeting {
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
}

a.confirm-email-btn {
    background-color: white;
    
    border-color: #FF007F;
    color: black;
    font-weight: bold;
    margin-top: 30px;
}

a.confirm-email-btn:hover{
    color: white;
    background-color: #FF007F;
    border-color: #FF007F;
    font-weight: bold;
}

.reset-password-heading {
    color:black;
    font-weight: bold;
}

.reset-password-body {
    font-weight: bold;
    font-size: 16px;
}

.reset-password-email-field {
    font-weight: bold;
}

#user_email.form-control {
    width: 400px;
    
}

.reset-password-form input[type="text"]:focus{
    border-color: white;
}

#reset_email_submit.btn {
    margin-top: 20px;
    width: 400px;
    background-color: #FFBF00;
    color: black;
    border-color: #FFBF00;
    font-weight: bold;
}
#reset_email_submit.btn:hover {
    background-color: skyblue;
    border-color: skyblue;
    color: black;
    font-weight: bold;
    
}

#update_email.btn {
    color: black;
    font-weight: bold;
    background-color: #32CD32;
    border-color: #32CD32;
}

#update_email.btn:hover {
    color: black;
    font-weight: bold;
    background-color: #FF91A4;
    border-color: #FF91A4;

}