<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="/static/images/sos_logo.png">
        <link rel="stylesheet" href="/static/styles.css">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}
        <title>sos</title>
        {% endblock %}
    </head>
    {% from 'bootstrap5/nav.html' import render_nav_item %}
    {% from 'bootstrap5/utils.html' import render_icon %}
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
                <img src="/static/images/sos_logo.png"
                     alt="sos-logo-big-outer-grey semi-circle-with-sos-in-it-and-smaller-solid-blue-semi-circle"
                     height="50" width="50"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{ render_nav_item('main.index', 'Home') }}
                {% if current_user.is_authenticated %}
                    {{ render_nav_item('main.submit_ticket', 'Create Ticket') }}
                    {{ render_nav_item('main.view_ticket', 'View Tickets', username=current_user.username) }}
                    <span class="position-relative translate-middle badge rounded-pill bg-danger">
                        {{ tkt_count }}
                    </span>
                {% endif %}

                {% if current_user.is_authenticated and current_user.can(Permission.ADMIN)  %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dashboard</a>
                    </li>
                    {{ render_nav_item('main.solve_tickets', 'Solve Tickets') }}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Escalate</a>
                    </li>
                {% endif %}
            </ul>

            <div class="me-auto">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu" style="background-color:#212529; color: white;">
                            <li><a class="dropdown-item" href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li>
                        <a class="btn btn-primary btn-login" role="button" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                </ul>
                {% endif %}
            </div>

            {% if g.search_form %}
                <form class="d-flex" method="get" action="{{ url_for('main.search') }}">
                    <div class="form-group">
                        {{ g.search_form.q(size=20, class='form-control me-2', placeholder=g.search_form.q.label.text) }}
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
    </nav>

    <body>
        <!-- Your page content -->
        {% block content %}
        <div class="container">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <div>
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            {% endfor %}

            {% block page_content %}{% endblock %}
        </div>
        {% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->

            {{ bootstrap.load_js() }}
            <script type="text/javascript"
            src="{{ url_for('static', filename='init_tooltip.js') }}"></script>
        {% endblock %}
    </body>
</html>