{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}

{% block title %} sos - Edit Profile {% endblock %}

{% block page_content %}
<section class="vh-100">
  <div class="card mx-auto" style="width: 40rem; margin-top: 12vh; border-radius: 10px;">
      <div class="card-body sign-up-card" style="border-radius: 10px;">
        <div class="card-title">
            <div class="text-center edit-profile-header float-start">
                Edit Profile
            </div>
            <div class="float-end" style="margin-bottom: -10vh; margin-top: -6vh;">
                <img src="/static/images/default_avatar.png"
                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
            </div>
        </div>
        <form class="card-text sign-up-form" method="post">
            {{ form.csrf_token() }}
            <div class="row name-field">
                <div class="col first-name-field">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa-solid fa-user login-email-icon" style="color: #007AFF"></i>
                        </div>
                        {{ render_field(form.first_name) }}
                    </div>
                </div>

                <div class="col last-name-field">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa-solid fa-user login-email-icon" style="color: #007AFF"></i>
                        </div>
                        {{ render_field(form.last_name) }}
                    </div>
                </div>
            </div>

            <div class="mb-3 department-field">
                {{ render_field(form.department) }}
            </div>

            <div class="mb-3 department-field">
                {{ render_field(form.role) }}
            </div>


            <div class="mb-3 sign-up-email-field">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa-solid fa-envelope login-email-icon" style="color: #007AFF"></i>
                    </div>
                    {{ render_field(form.email) }}
                </div>
            </div>

            <div class="mb-3 username-field">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa-solid fa-user login-email-icon" style="color: #007AFF"></i>
                    </div>
                    {{ render_field(form.username) }}
                </div>
            </div>

            <div class="mb-3 department-field">
                {{ render_field(form.confirmed) }}
            </div>

            <div class="mb-3 text-center edit-user">
                {{ render_field(form.edit_user)}}
            </div>
        </form>
      </div>
    </div>
</section>
{% endblock %}